:root{
    --bg-main: #fff;
    --txt-main: #87CEEB;
}

body {
    background-color: var(--txt-main);
    color: var(--bg-main);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}
.navbar {
    background-color: var(--bg-main);
    color: var(--txt-main);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    border-radius: 10px;
}
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 10px;
}

.forms {
    border: 2px solid white;
    padding: 22px;
    border-radius: 10px;
}

.button {
    width: 100%;
    background-color: var(--bg-main);
    color: var(--txt-main);
    border-radius: 10px;
    transition:  0.3s ease;
    border: none;
    outline: none;
}

.button:hover {
    background-color: rgb(139, 124, 124);
    transform: translateY(-5px);
    
}

.forms input  {
    width: 100%;
    margin: 4px;
    border-radius: 10px;
    color: black;
    outline: none;
    border: none;
}
.form1::placeholder {
    padding: 10px;

}

h1 {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

           
